<!doctype html>
<html>
<head>
  <meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="dist/style.css">
  <title>Directives</title>
</head>
<body ng-app="myDirectives">
	<div ng-controller="Controller">
		<div my-hello-world></div>
		<input type="text" ng-model="name" placeholder="enter your name">
		<div my-input-and-display></div>
		<div my-whack-a-mole>click me</div>
		<label>Current:</label>
		<input type="number" ng-model="current">
		<label>Total:</label>
		<input type="number" ng-model="total">
		<goal-bar total="{{total}}" current="{{current}}" totaltitle="Goal" currenttitle="Current"></goal-bar>
	</div>
	
  <script src="https://code.angularjs.org/snapshot/angular.min.js"></script>
  <script src="dist/bundle.js"></script>
</body>
</html>
